.dgBtn {
    background-color: rgb(243, 252, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5vw;
    font-size: 20px;
    margin-top: 50px;
    color: rgb(9, 28, 104);
    box-shadow: 5px 5px 20px;
    width: 15vw;
   
    font-size: 20px;

 
    
  }
  
  .dgBtn:hover {
    background: linear-gradient(to right, #7bcedd, rgb(116, 118, 241));
    color: rgb(9, 28, 104);
    transform: scale(1.15);
    transition: transform 0.8s ease;
  }
  