.ringLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #b6ddee, whitesmoke);
  transition: background 0.3s ease;

}

.loaderText {
  text-align: center;
  margin: 5vw 0vw 0vw 18vw;
  font-size: 2vw;
  color: rgb(9, 28, 104);
}